<nav class="bg-white dark:bg-gray-900 shadow dark:shadow-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <img class="h-8 w-auto" src="https://via.placeholder.com/150x50.png?text=Logo" alt="Logo">
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a routerLink="/" routerLinkActive="border-indigo-500 text-black dark:text-white" [routerLinkActiveOptions]="{exact: true}"
             class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-300 dark:border-gray-800 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Home
          </a>
          <a routerLink="/about" routerLinkActive="border-indigo-500 text-black dark:text-white"
             class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-300 dark:border-gray-800 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            About
          </a>
          <a routerLink="/services" routerLinkActive="border-indigo-500 text-black dark:text-white"
             class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-300 dark:border-gray-800 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Services
          </a>
          <a routerLink="/contact" routerLinkActive="border-indigo-500 text-black dark:text-white"
             class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-300 dark:border-gray-800 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
            Contact
          </a>
        </div>
      </div>
      <!-- GitHub Icon -->
      <div class="flex items-center">
        <a href="https://github.com/MitjaCH/mku.wtf" target="_blank" rel="noopener noreferrer"
           class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0a12 12 0 00-3.794 23.417c.6.112.82-.263.82-.585v-2.048c-3.34.728-4.042-1.61-4.042-1.61-.546-1.382-1.333-1.75-1.333-1.75-1.09-.744.083-.73.083-.73 1.206.084 1.84 1.237 1.84 1.237 1.07 1.835 2.806 1.304 3.492.997.11-.775.419-1.305.762-1.605-2.665-.303-5.466-1.35-5.466-6.004 0-1.327.468-2.416 1.236-3.268-.124-.303-.535-1.524.116-3.176 0 0 1.008-.322 3.3 1.235a11.525 11.525 0 013.005-.403c1.02.005 2.045.138 3.004.404 2.291-1.557 3.297-1.235 3.297-1.235.653 1.652.243 2.873.119 3.176.77.852 1.235 1.941 1.235 3.268 0 4.665-2.805 5.697-5.476 5.993.432.377.82 1.125.82 2.27v3.364c0 .324.217.7.823.581A12.001 12.001 0 0012 0z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
