.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 600px;
    width: 350px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    animation: slideInOut 5s ease-in-out;
    transition: opacity 0.3s, transform 0.3s;
    text-align: left;
  }
  
  /* Animation for smooth entrance and exit */
  @keyframes slideInOut {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    10% {
      opacity: 1;
      transform: translateX(0);
    }
    90% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .alert-success {
    background-color: #34c957;
    color: #000000;
  }
  
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
  }
  